.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgb(255, 255, 255,0.9);
    animation: loader 2s;
    animation-delay: 1.75s;
    animation-fill-mode: both;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    &__item{
        position: absolute;
        height: 30px;
        width: 30px;
        border-radius: 30px;
        animation-iteration-count: 1;
        
        &--Container {
            position: absolute;
            display: flex;
            width: 100px ;
            height: 100px;
            justify-content: space-between;
        }
        
        &--1 {
            background-color:$color-primary;
            top: 0;
            left: 0;
            animation: item-1_move 1.8s cubic-bezier(.6,.01,.4,1) 
        }
        &--2 {
            background-color: $color-secondary;   
            top: 0;
            right: 0;
            animation: item-2_move 1.8s cubic-bezier(.6,.01,.4,1) 
        }
        &--3 {
            background-color: $color-tertiary;
            bottom: 0;
            right: 0;
            animation: item-3_move 1.8s cubic-bezier(.6,.01,.4,1)
        }
        &--4{
            background-color: #FAC24C;
            bottom: 0;
            left: 0;
            animation: item-4_move 1.8s cubic-bezier(.6,.01,.4,1);
        
        }
    }
}

@keyframes loader {
    100% {
        opacity: 0;
        z-index: -1;
    }
}
@keyframes item-1_move {
    0%, 100% {transform: translate(0, 0)} 
    25% {transform: translate(0, 61px)} 
    50% {transform: translate(61px,61px)} 
    75% {transform: translate(61px, 0)} 
  }
  
  @keyframes item-2_move {
    0%, 100% {transform: translate(0, 0)} 
    25% {transform: translate(-61px, 0)} 
    50% {transform: translate(-61px, 61px)} 
    75% {transform: translate(0, 61px)} 
  }
  
  @keyframes item-3_move {
    0%, 100% {transform: translate(0, 0)} 
    25% {transform: translate(0, -61px)} 
    50% {transform: translate(-61px, -61px)} 
    75% {transform: translate(-61px, 0)} 
  }
  
  @keyframes item-4_move {
    0%, 100% {transform: translate(0, 0)} 
    25% {transform: translate(61px, 0)} 
    50% {transform: translate(61px, -61px)} 
    75% {transform: translate(0, -61px);} 
  }
