*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    @include desktop {
        width: 100%;
        margin: auto;
    }
}

.fas {
    padding-right: 10px;
}

a {
    text-decoration: none;
    color:black;
}

ul,ol {
    list-style: none;
}